In [15]:
import numpy as np
import matplotlib as mlp
import matplotlib.pyplot as plt
import pandas as pd

In [16]:
train_data = pd.read_csv('trainTi.csv')
test_data = pd.read_csv('testTi.csv')

In [17]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [18]:
num_pipe = Pipeline([
        ('imputer', SimpleImputer(strategy="median")),
        ('scaler', StandardScaler())
    ])

In [19]:
cat_pipe = Pipeline([
    ('imputer', SimpleImputer(strategy="most_frequent")),
    ('cat_encoder', OneHotEncoder(sparse=False))
])

In [20]:
num_attr = ['Age', 'SibSp', 'Parch', 'Fare']
cat_attr = ['Pclass', 'Sex', 'Embarked']

preprocess_pipeline = ColumnTransformer([
    ('num', num_pipe, num_attr),
    ('cat', cat_pipe, cat_attr)
])

In [21]:
#train_data = preprocess_pipeline.fit_transform(train_data[num_attr + cat_attr])

In [22]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
y = train_data["Survived"]

In [24]:
features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

In [25]:
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

In [26]:
from sklearn.svm import SVC

svm_clf = SVC(gamma='auto')
svm_clf.fit(X, y)
y_pred = svm_clf.predict(X_test)

In [27]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})

In [28]:
output

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [29]:
#output.to_csv('submission.csv', index=False)

In [30]:
output2 = pd.DataFrame({"PassengerId": test_data.PassengerId, "Survived": y_pred})

In [31]:
#output2.to_csv('Submission3.csv', index=False)